<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Plenium</title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul style="background-color: #0b2d4f;" ; class="navbar-nav  sidebar sidebar-dark accordion"
            id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-text mx-3">Plenium</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Panel de Control</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Titulo sección - Inmuebles -->
            <div class="sidebar-heading">
                Inmuebles
            </div>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/cartera-inmuebles}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Cartera de Inmuebles</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/nuevo-inmueble}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Añadir nuevo Inmueble</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/buscador}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Buscador de Inmuebles</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Titulo sección - Clientes -->
            <div class="sidebar-heading">
                Clientes
            </div>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lista-clientes}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Lista de Clientes</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/nuevo-cliente}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Añadir nuevo Cliente</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

             <!-- Titulo sección - Agenda -->
             <div class="sidebar-heading">
                Agenda
            </div>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lista-tareas}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Consultar agenda</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/nueva-tarea}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Añadir nueva tarea</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Titulo sección - Gestión de usuarios -->
            <div class="sidebar-heading" sec:authorize="hasRole('ROLE_ADMIN')">
                Gestión de Usuarios
            </div>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" th:href="@{/lista-usuarios}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Lista de Usuarios</span></a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" th:href="@{/nuevo-usuario}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Añadir nuevo Usuario</span></a>
            </li>


            <!-- Divisor -->
            <hr class="sidebar-divider" sec:authorize="hasRole('ROLE_ADMIN')">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid" style="margin-top: 20px;">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Buscador de Inmuebles</h1>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">

                        <!--Parámetros de búsqueda-->
                        <div class="card-body">
                            <div class="table">

                                <form th:action="@{/buscar-inmuebles}" method="post" class="user"><!--th:object="${inmueble}"-->

                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="precioMin">Precio (min.):</label>
                                            <input type="number" min="0" value="0" name="precioMin" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="precioMax">Precio (máx.):</label>
                                            <input type="number" min="0" value="0" name="precioMax" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="tipo">Tipo:</label>
                                            <select name="tipo" class="form-control">
                                                <option value="Seleccione tipo de Inmueble">Seleccione tipo de Inmueble</option>
                                                <option value="PISO">PISO</option>
                                                <option value="ÁTICO">ÁTICO</option>
                                                <option value="CASA-CHALET">CASA-CHALET</option>
                                                <option value="GARAJE">GARAJE</option>
                                                <option value="LOCAL">LOCAL</option>
                                                <option value="OFICINA">OFICINA</option>
                                                <option value="TERRENO">TERRENO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="dormitoriosMin">Dormitorios (min.):</label>
                                            <input type="number" min="0" value="0" name="dormitoriosMin" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="dormitoriosMax">Dormitorios (máx.):</label>
                                            <input type="number" min="0" value="0" name="dormitoriosMax" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="poblacion">Población:</label>
                                            <input type="text" name="poblacion" class="form-control " />
                                        </div>
                                    </div>
                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="superficieMin">Superficie (min.):</label>
                                            <input type="number" min="0" value="0" name="superficieMin" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="superficieMax">Superficie (máx.):</label>
                                            <input type="number" min="0" value="0" name="superficieMax" class="form-control" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="provincia">Provincia: </label>
                                            <select name="provincia" class="form-control">
                                                <option value="Seleccione una provincia">Seleccione una provincia</option>
                                                <option value="Álava/Araba">Álava/Araba</option>
                                                <option value="Albacete">Albacete</option>
                                                <option value="Alicante">Alicante</option>
                                                <option value="Almería">Almería</option>
                                                <option value="Asturias">Asturias</option>
                                                <option value="Ávila">Ávila</option>
                                                <option value="Badajoz">Badajoz</option>
                                                <option value="Baleares">Baleares</option>
                                                <option value="Barcelona">Barcelona</option>
                                                <option value="Burgos">Burgos</option>
                                                <option value="Cáceres">Cáceres</option>
                                                <option value="Cádiz">Cádiz</option>
                                                <option value="Cantabria">Cantabria</option>
                                                <option value="Castellón">Castellón</option>
                                                <option value="Ceuta">Ceuta</option>
                                                <option value="Ciudad Real">Ciudad Real</option>
                                                <option value="Córdoba">Córdoba</option>
                                                <option value="Cuenca">Cuenca</option>
                                                <option value="Gerona/Girona">Gerona/Girona</option>
                                                <option value="Granada">Granada</option>
                                                <option value="Guadalajara">Guadalajara</option>
                                                <option value="Guipúzcoa/Gipuzkoa">Guipúzcoa/Gipuzkoa</option>
                                                <option value="Huelva">Huelva</option>
                                                <option value="Huesca">Huesca</option>
                                                <option value="Jaén">Jaén</option>
                                                <option value="La Coruña/A Coruña">La Coruña/A Coruña</option>
                                                <option value="La Rioja">La Rioja</option>
                                                <option value="Las Palmas">Las Palmas</option>
                                                <option value="León">León</option>
                                                <option value="Lérida/Lleida">Lérida/Lleida</option>
                                                <option value="Lugo">Lugo</option>
                                                <option value="Madrid">Madrid</option>
                                                <option value="Málaga">Málaga</option>
                                                <option value="Melilla">Melilla</option>
                                                <option value="Murcia">Murcia</option>
                                                <option value="Navarra">Navarra</option>
                                                <option value="Orense/Ourense">Orense/Ourense</option>
                                                <option value="Palencia">Palencia</option>
                                                <option value="Pontevedra">Pontevedra</option>
                                                <option value="Salamanca">Salamanca</option>
                                                <option value="Segovia">Segovia</option>
                                                <option value="Sevilla">Sevilla</option>
                                                <option value="Soria">Soria</option>
                                                <option value="Tarragona">Tarragona</option>
                                                <option value="Tenerife">Tenerife</option>
                                                <option value="Teruel">Teruel</option>
                                                <option value="Toledo">Toledo</option>
                                                <option value="Valencia">Valencia</option>
                                                <option value="Valladolid">Valladolid</option>
                                                <option value="Vizcaya/Bizkaia">Vizcaya/Bizkaia</option>
                                                <option value="Zamora">Zamora</option>
                                                <option value="Zaragoza">Zaragoza</option>
                                              </select>
                                        </div>
                                    </div>
                                    
                                    <button name="buscar" class="btn btn-success btn-icon-split btn-sm"><span
                                            class="icon text-white-50">
                                            <i class="fas fa-search"> </i></span><span class="text">Buscar</span></button>
                                            <hr>
                                </form>
                            </div>

                            <!--Parámetros de búsqueda-->

                            <div class="card-body">
                                <!--TABLA-->
                                <div class="table-responsive"
                                    th:if="${listaInmueblesModel != null and !listaInmueblesModel.empty}">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Ref.</th>
                                                <th>Tipo</th>
                                                <th>Denominación</th>
                                                <th>Precio</th>
                                                <th>m<sup>2</sup></th>
                                                <th>Población</th>
                                                <th>Provincia</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Ref.</th>
                                                <th>Tipo</th>
                                                <th>Denominación</th>
                                                <th>Precio</th>
                                                <th>m<sup>2</sup></th>
                                                <th>Población</th>
                                                <th>Provincia</th>
                                                <th>Acción</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr th:each="inmueble : ${listaInmueblesModel}">
                                                <td th:text="${inmueble.idInmueble}"></td>
                                                <td th:text="${inmueble.tipo}" style="text-transform:uppercase;"></td>
                                                <td th:text="${inmueble.denominacion}"></td>
                                                <td th:text="${inmueble.precio} + €"></td>
                                                <td th:text="${inmueble.superficieTotal}"></td>
                                                <td th:text="${inmueble.poblacion}"></td>
                                                <td th:text="${inmueble.provincia}"></td>
                                                <td>
                                                    <a th:href="@{/ver-inmueble/} + ${inmueble.idInmueble}"
                                                        class="btn btn-secondary btn-icon-split btn-sm"><span
                                                            class="icon text-white-50"> <i class="fas fa-eye">
                                                            </i></span><span class="text">Detalles</span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div th:if="${listaInmueblesModel == null or listaInmueblesModel.empty}">
                                    La lista de inmuebles está vacía.
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span><b>Autor:</b> Nicolás Esteban Bórquez</span>
                            <br>
                            <br>
                            <span><b>Asignatura:</b> Proyecto Integrado - Instituto FOC</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->


        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="js/demo/datatables-demo.js"></script>
</body>

</html>