<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Plenium</title>

    <!-- Custom fonts for this template -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul style="background-color: #0b2d4f" ; class="navbar-nav  sidebar sidebar-dark accordion"
            id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-text mx-3">Plenium</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Panel de Control</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Titulo sección - Inmuebles -->
            <div class="sidebar-heading">
                Inmuebles
            </div>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/cartera-inmuebles}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Cartera de Inmuebles</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/nuevo-inmueble}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Añadir nuevo Inmueble</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/buscador}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Buscador de Inmuebles</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Titulo sección - Clientes -->
            <div class="sidebar-heading">
                Clientes
            </div>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lista-clientes}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Lista de Clientes</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/nuevo-cliente}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Añadir nuevo Cliente</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Titulo sección - Agenda -->
            <div class="sidebar-heading">
                Agenda
            </div>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lista-tareas}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Consultar agenda</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/nueva-tarea}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Añadir nueva tarea</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Titulo sección - Gestión de usuarios -->
            <div class="sidebar-heading" sec:authorize="hasRole('ROLE_ADMIN')">
                Gestión de Usuarios
            </div>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" th:href="@{/lista-usuarios}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Lista de Usuarios</span></a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" th:href="@{/nuevo-usuario}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Añadir nuevo Usuario</span></a>
            </li>


            <!-- Divisor -->
            <hr class="sidebar-divider" sec:authorize="hasRole('ROLE_ADMIN')">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid" style="margin-top: 20px;">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Editar Usuario</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <br>
                            <a th:href="@{/lista-clientes}" class="btn btn-secondary btn-icon-split btn-sm"><span
                                    class="icon text-white-50"> <i class="fas fa-reply"> </i></span><span
                                    class="text">Atrás</span></a>
                        </div>
                        <div class="card-body">
                            <div class="table">

                                <form th:action="@{/guardar-usuario-editado}" method="post" th:object="${usuario}"
                                    class="user">
                                    <input type="hidden" name="idUsuario" th:field="*{idUsuario}" />
                                    <!--<input type="hidden" name="username" th:field="*{username}" />
                                    <input type="hidden" name="password" th:field="*{password}" />-->
                                    <input type="hidden" name="fechaAlta" th:field="*{fechaAlta}" />


                                    <h6 class="font-weight-bold"><u>Información general:</u></h6>
                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="nombre">Nombre:</label>
                                            <input type="text" name="nombre" th:field="*{nombre}"
                                                class="form-control " />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="primerApellido">Primer apellido:</label>
                                            <input type="text" name="primerApellido" th:field="*{primerApellido}"
                                                class="form-control " />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="segundoApellido">Segundo apellido:</label>
                                            <input type="text" name="segundoApellido" th:field="*{segundoApellido}"
                                                class="form-control " />

                                        </div>
                                    </div>

                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="email">Correo electrónico:</label>
                                            <input type="text" name="email" th:field="*{email}" class="form-control " />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="telefono">Teléfono:</label>
                                            <input type="text" name="telefono" th:field="*{telefono}"
                                                class="form-control " />
                                        </div>
                                    </div>
                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="username">Username:</label>
                                            <input type="text" name="username" th:field="*{username}"
                                                class="form-control " />
                                        </div>
                                        <div class="form-group col-md-9">
                                            <label for="password">Password:</label>
                                            <input type="text" name="password" th:field="*{password}"
                                                class="form-control " />
                                        </div>
                                    </div>
                                    <!-- ----------------------- ROW ----------------------- -->

                                    <button name="guardar" class="btn btn-success btn-icon-split btn-sm"><span
                                            class="icon text-white-50">
                                            <i class="fas fa-save"> </i></span><span
                                            class="text">Guardar</span></button>

                                    <a th:href="@{/lista-usuarios}" th:onclick="if(!(confirm('Si continúa los cambios no guardados se perderán.') )) return false"
                                        class="btn btn-secondary btn-icon-split btn-sm"><span
                                            class="icon text-white-50">
                                            <i class="fas fa-window-close"> </i></span><span
                                            class="text">Cancelar</span></a>

                                </form>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span><b>Autor:</b> Nicolás Esteban Bórquez</span>
                        <br>
                        <br>
                        <span><b>Asignatura:</b> Proyecto Integrado - Instituto FOC</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../js/demo/datatables-demo.js"></script>
</body>

</html>