<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Plenium</title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul style="background-color: #0b2d4f" ; class="navbar-nav  sidebar sidebar-dark accordion"
            id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-text mx-3">Plenium</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Panel de Control</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Titulo sección - Inmuebles -->
            <div class="sidebar-heading">
                Inmuebles
            </div>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/cartera-inmuebles}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Cartera de Inmuebles</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/nuevo-inmueble}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Añadir nuevo Inmueble</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="busqueda_avanzada.html">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Búsqueda avanzada</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Titulo sección - Clientes -->
            <div class="sidebar-heading">
                Clientes
            </div>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lista-clientes}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Lista de Clientes</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/nuevo-cliente}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Añadir nuevo Cliente</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Titulo sección - Agenda -->
            <div class="sidebar-heading">
                Agenda
            </div>
            <li class="nav-item">
                <a class="nav-link" href="consultar_agenda.html">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Consultar agenda</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="nuevo_tour.html">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Añadir Tour</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Titulo sección - Tareas -->
            <div class="sidebar-heading">
                Tareas
            </div>
            <li class="nav-item">
                <a class="nav-link" href="consultar_tareas.html">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Consultar tareas</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="nueva_tarea.html">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Añadir tarea</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Añadir nuevo Inmueble</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a th:href="@{/cartera-inmuebles}" th:text="Atrás" class="btn btn-secondary">Atrás</a>
                        </div>
                        <div class="card-body">
                            <div class="table">

                                <form th:action="@{/guardar-inmueble}" method="post" th:object="${inmueble}"
                                    class="user">
                                    <input type="hidden" name="idInmueble" th:field="*{idInmueble}" />

                                    <h6 class="font-weight-bold"><u>Información general:</u></h6>
                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="denominacion">Denominacion <span
                                                    style="color:red">*</span></label>
                                            <input type="text" name="denominacion" th:field="*{denominacion}"
                                                class="form-control" />
                                            <span style="color:red;" th:if="${#fields.hasErrors('denominacion')}"
                                                th:errors="*{denominacion}">Error
                                                denominación</span>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="precio">Precio <span style="color:red">*</span></label>
                                            <input type="number" name="precio" th:field="*{precio}"
                                                class="form-control" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="tipo">Tipo <span style="color:red">*</span></label>
                                           <!-- <input type="text" name="tipo" th:field="*{tipo}" class="form-control" />-->
                  
                                            <select th:field="*{tipo}" class="form-control">
                                                <option th:value="'---'" th:text="---"></option>
                                                <option th:value="'PISO'" th:text="PISO"></option>
                                                <option th:value="'ÁTICO'" th:text="ÁTICO"></option>
                                                <option th:value="'CASA-CHALET'" th:text="CASA-CHALET"></option>
                                                <option th:value="'GARAJE'" th:text="GARAJE"></option>
                                                <option th:value="'LOCAL'" th:text="LOCAL"></option>
                                                <option th:value="'OFICINA'" th:text="OFICINA"></option>
                                                <option th:value="'TERRENO'" th:text="TERRENO"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="dormitorios">Dormitorios <span
                                                    style="color:red">*</span></label>
                                            <input type="number" name="dormitorios" th:field="*{dormitorios}"
                                                class="form-control " />
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label for="banos">Baños <span style="color:red">*</span></label>
                                            <input type="number" name="banos" th:field="*{banos}"
                                                class="form-control " />
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label for="superficieUtil">Superficie útil</label>
                                            <input type="number" name="superficieUtil" th:field="*{superficieUtil}"
                                                class="form-control" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="superficieTotal">Superficie total</label>
                                            <input type="number" name="superficieTotal" th:field="*{superficieTotal}"
                                                class="form-control" />
                                        </div>
                                    </div>
                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="direccion">Dirección <span style="color:red">*</span></label>
                                            <input type="text" name="direccion" th:field="*{direccion}"
                                                class="form-control " />
                                            <span style="color:red;" th:if="${#fields.hasErrors('direccion')}"
                                                th:errors="*{direccion}">Error
                                                dirección</span>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="poblacion">Población <span style="color:red">*</span></label>
                                            <input type="text" name="poblacion" th:field="*{poblacion}"
                                                class="form-control " />
                                            <span style="color:red;" th:if="${#fields.hasErrors('poblacion')}"
                                                th:errors="*{poblacion}">Error
                                                poblacion</span>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="provincia">Provincia <span style="color:red">*</span></label>
                                            <input type="text" name="provincia" th:field="*{provincia}"
                                                class="form-control " />
                                            <span style="color:red;" th:if="${#fields.hasErrors('provincia')}"
                                                th:errors="*{provincia}">Error
                                                provincia</span>
                                        </div>
                                    </div>
                                    <!-- ----------------------- ROW ----------------------- -->
                                    <hr>
                                    <h6 class="font-weight-bold"><u>Otras características:</u></h6>

                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="amueblado">Amueblado:</label>
                                            <input type="checkbox" th:field="*{amueblado}" th:value="si">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="cocinaEquipada">Cocina equipada:</label>
                                            <input type="checkbox" th:field="*{cocinaEquipada}" th:value="si">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="armariosEmpotrados">Armarios empotrados:</label>
                                            <input type="checkbox" th:field="*{armariosEmpotrados}" th:value="si">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="gasNatural">Gas natural:</label>
                                            <input type="checkbox" th:field="*{gasNatural}" th:value="si">
                                        </div>
                                    </div>
                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="aireAcondicionado">Aire acondicionado:</label>
                                            <input type="checkbox" th:field="*{aireAcondicionado}" th:value="si">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="calefaccionCentral">Calefaccion central:</label>
                                            <input type="checkbox" th:field="*{calefaccionCentral}" th:value="si">
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label for="placasSolares">Placas solares:</label>
                                            <input type="checkbox" th:field="*{placasSolares}" th:value="si">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="terraza">Terraza/Balcón:</label>
                                            <input type="checkbox" th:field="*{terraza}" th:value="si">
                                        </div>
                                    </div>

                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="aparcamiento">Aparcamiento:</label>
                                            <input type="checkbox" th:field="*{aparcamiento}" th:value="si">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="ascensor">Ascensor:</label>
                                            <input type="checkbox" th:field="*{ascensor}" th:value="si">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="piscina">Piscina:</label>
                                            <input type="checkbox" th:field="*{piscina}" th:value="si">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="jardin">Jardín</label>
                                            <input type="checkbox" th:field="*{jardin}" th:value="si">
                                        </div>
                                    </div>

                                    <!-- ----------------------- ROW ----------------------- -->
                                    <hr>
                                    <h6 class="font-weight-bold"><u>Información del propietario/a:</u></h6>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="propietarioNombre">Nombre propietario <span
                                                    style="color:red">*</span></label>
                                            <input type="text" name="propietarioNombre" th:field="*{propietarioNombre}"
                                                class="form-control " />
                                            <span style="color:red;" th:if="${#fields.hasErrors('propietarioNombre')}"
                                                th:errors="*{propietarioNombre}">Error
                                                nombre propietario</span>
                                        </div>

                                        <div class="form-group col-md-5">
                                            <label for="propietarioApellidos">Apellidos <span
                                                    style="color:red">*</span></label>
                                            <input type="text" name="propietarioApellidos"
                                                th:field="*{propietarioApellidos}" class="form-control " />
                                            <span style="color:red;"
                                                th:if="${#fields.hasErrors('propietarioApellidos')}"
                                                th:errors="*{propietarioApellidos}">Error
                                                apellido propietario</span>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="propietarioNif">Documento de Identidad</label>
                                            <input type="text" name="propietarioNif" th:field="*{propietarioNif}"
                                                class="form-control " />
                                        </div>
                                    </div>

                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-8">
                                            <label for="propietarioEmail">Correo electrónico <span
                                                    style="color:red">*</span></label>
                                            <input type="text" name="propietarioEmail" th:field="*{propietarioEmail}"
                                                class="form-control " />
                                            <span style="color:red;" th:if="${#fields.hasErrors('propietarioEmail')}"
                                                th:errors="*{propietarioEmail}">Error
                                                email propietario</span>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="propietarioTelefono">Teléfono <span
                                                    style="color:red">*</span></label>
                                            <input type="text" name="propietarioTelefono"
                                                th:field="*{propietarioTelefono}" class="form-control " />
                                            <span style="color:red;" th:if="${#fields.hasErrors('propietarioTelefono')}"
                                                th:errors="*{propietarioTelefono}">Error
                                                teléfono propietario</span>
                                        </div>
                                    </div>

                                    <!--<label for="fechaPublicacion">Fecha publicación:</label>
                                    <input type="date" min="2022-01-01" max="2023-12-31" name="fechaPublicacion"
                                        th:field="*{fechaPublicacion}" class="form-control " />-->



                                    <label for="idUsuario">Usuario:</label>
                                    <input type="number" name="idUsuario" th:field="*{idUsuario}"
                                        class="form-control " />

                                    <!-- ----------------------- ROW ----------------------- -->
                                    <hr>

                                    <input type="submit" name="guardar" value="Guardar" class="btn btn-success" />
                                    <a th:href="@{/cartera-inmuebles}" class="btn btn-secondary">Cancelar</a>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span><b>Autor:</b> Nicolás Esteban Bórquez</span>
                        <br>
                        <br>
                        <span><b>Asignatura:</b> Proyecto Integrado - Instituto FOC</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

</body>

</html>