<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Plenium</title>

    <!-- Custom fonts for this template -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul style="background-color: #0b2d4f" ; class="navbar-nav  sidebar sidebar-dark accordion"
            id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-text mx-3">Plenium</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Panel de Control</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Titulo sección - Inmuebles -->
            <div class="sidebar-heading">
                Inmuebles
            </div>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/cartera-inmuebles}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Cartera de Inmuebles</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/nuevo-inmueble}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Añadir nuevo Inmueble</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="busqueda_avanzada.html">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Búsqueda avanzada</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Titulo sección - Clientes -->
            <div class="sidebar-heading">
                Clientes
            </div>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lista-clientes}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Lista de Clientes</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/nuevo-cliente}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Añadir nuevo Cliente</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Titulo sección - Agenda -->
            <div class="sidebar-heading">
                Agenda
            </div>
            <li class="nav-item">
                <a class="nav-link" href="consultar_agenda.html">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Consultar agenda</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="nuevo_tour.html">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Añadir Tour</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">

            <!-- Titulo sección - Tareas -->
            <div class="sidebar-heading">
                Tareas
            </div>
            <li class="nav-item">
                <a class="nav-link" href="consultar_tareas.html">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Consultar tareas</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="nueva_tarea.html">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Añadir tarea</span></a>
            </li>

            <!-- Divisor -->
            <hr class="sidebar-divider">
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle" src="../img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Ver Inmueble</h1>
FECHA PUBLICACION Y USUARIO
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <br>
                            <a th:href="@{/cartera-inmuebles}" th:text="Atrás" class="btn btn-secondary">Atrás</a>
                            <a th:href="@{/editar-inmueble/} + ${inmueble.idInmueble}" th:text="Editar"
                                class="btn btn-secondary">Editar inmueble</a>
                            <a th:href="@{/eliminar-inmueble/} + ${inmueble.idInmueble}" th:text="Eliminar"
                                class="btn btn-secondary">Eliminar inmueble</a>
                        </div>
                        <div class="card-body">
                            <div class="table">
                                <form th:object="${inmueble}" class="user">
                                    <input type="hidden" name="idInmueble" th:field="*{idInmueble}" />

                                    <h6 class="font-weight-bold"><u>Información general:</u></h6>
                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="denominacion" class="font-weight-bold">Denominacion:</label>
                                            <label th:text="*{denominacion}"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="precio" class="font-weight-bold">Precio:</label>
                                            <label th:text="*{precio} + €"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="tipo" class="font-weight-bold">Tipo:</label>
                                            <label th:text="*{tipo}"></label>
                                        </div>
                                    </div>
                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="dormitorios" class="font-weight-bold">Dormitorios:</label>
                                            <label th:text="*{dormitorios}"></label>
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label for="banos" class="font-weight-bold">Baños:</label>
                                            <label th:text="*{banos}"></label>
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label for="superficieUtil" class="font-weight-bold">Superficie útil:</label>
                                            <label th:text="*{superficieUtil} + m"></label><sup>2</sup>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="superficieTotal" class="font-weight-bold">Superficie total:</label>
                                            <label th:text="*{superficieTotal} + m"></label><sup>2</sup>
                                        </div>
                                    </div>
                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="direccion" class="font-weight-bold">Dirección:</label>
                                            <label th:text="*{direccion}"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="poblacion" class="font-weight-bold">Población:</label>
                                            <label th:text="*{poblacion}"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="provincia" class="font-weight-bold">Provincia:</label>
                                            <label th:text="*{provincia}"></label>
                                        </div>
                                    </div>
                                    <!-- ----------------------- ROW ----------------------- -->
                                    <hr>
                                    <h6 class="font-weight-bold"><u>Otras características:</u></h6>

                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="amueblado" class="font-weight-bold">Amueblado:</label>
                                            <input th:if="${inmueble.amueblado != null}" type="checkbox" name="amueblado"
                                                checked disabled>
                                            <input th:if="${inmueble.amueblado == null}" type="checkbox" name="amueblado"
                                                disabled>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="cocinaEquipada" class="font-weight-bold">Cocina equipada:</label>
                                            <input th:if="${inmueble.cocinaEquipada != null}" type="checkbox" name="cocinaEquipada"
                                                checked disabled>
                                            <input th:if="${inmueble.cocinaEquipada == null}" type="checkbox" name="cocinaEquipada"
                                                disabled>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="armariosEmpotrados" class="font-weight-bold">Armarios empotrados:</label>
                                            <input th:if="${inmueble.armariosEmpotrados != null}" type="checkbox" name="armariosEmpotrados"
                                                checked disabled>
                                            <input th:if="${inmueble.armariosEmpotrados == null}" type="checkbox" name="armariosEmpotrados"
                                                disabled>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="gasNatural" class="font-weight-bold">Gas natural:</label>
                                            <input th:if="${inmueble.gasNatural != null}" type="checkbox" name="gasNatural"
                                                checked disabled>
                                            <input th:if="${inmueble.gasNatural == null}" type="checkbox" name="gasNatural"
                                                disabled>
                                        </div>
                                    </div>
                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="aireAcondicionado" class="font-weight-bold">Aire acondicionado:</label>
                                            <input th:if="${inmueble.aireAcondicionado != null}" type="checkbox" name="aireAcondicionado"
                                                checked disabled>
                                            <input th:if="${inmueble.aireAcondicionado == null}" type="checkbox" name="aireAcondicionado"
                                                disabled>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="calefaccionCentral" class="font-weight-bold">Calefaccion central:</label>
                                            <input th:if="${inmueble.calefaccionCentral != null}" type="checkbox" name="calefaccionCentral"
                                                checked disabled>
                                            <input th:if="${inmueble.calefaccionCentral == null}" type="checkbox" name="calefaccionCentral"
                                                disabled>
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label for="placasSolares" class="font-weight-bold">Placas solares:</label>
                                            <input th:if="${inmueble.placasSolares != null}" type="checkbox" name="placasSolares"
                                                checked disabled>
                                            <input th:if="${inmueble.placasSolares == null}" type="checkbox" name="placasSolares"
                                                disabled>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="terraza" class="font-weight-bold">Terraza/Balcón:</label>
                                            <input th:if="${inmueble.terraza != null}" type="checkbox" name="terraza"
                                                checked disabled>
                                            <input th:if="${inmueble.terraza == null}" type="checkbox" name="terraza"
                                                disabled>
                                        </div>
                                    </div>

                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="aparcamiento" class="font-weight-bold">Aparcamiento:</label>
                                            <input th:if="${inmueble.aparcamiento != null}" type="checkbox" name="aparcamiento"
                                                checked disabled>
                                            <input th:if="${inmueble.aparcamiento == null}" type="checkbox" name="aparcamiento"
                                                disabled>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="ascensor" class="font-weight-bold">Ascensor:</label>
                                            <input th:if="${inmueble.ascensor != null}" type="checkbox" name="ascensor"
                                                checked disabled>
                                            <input th:if="${inmueble.ascensor == null}" type="checkbox" name="ascensor"
                                                disabled>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="piscina" class="font-weight-bold">Piscina:</label>
                                            <input th:if="${inmueble.piscina != null}" type="checkbox" name="piscina"
                                                checked disabled>
                                            <input th:if="${inmueble.piscina == null}" type="checkbox" name="piscina"
                                                disabled>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="jardin" class="font-weight-bold">Jardín:</label>
                                            <input th:if="${inmueble.jardin != null}" type="checkbox" name="jardin"
                                                checked disabled>
                                            <input th:if="${inmueble.jardin == null}" type="checkbox" name="jardin"
                                                disabled>
                                        </div>
                                    </div>

                                    <!-- ----------------------- ROW ----------------------- -->
                                    <hr>
                                    <h6 class="font-weight-bold"><u>Información del propietario/a:</u></h6>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="propietarioNombre" class="font-weight-bold">Nombre propietario:</label>
                                            <label th:text="*{propietarioNombre}"></label>
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="propietarioApellidos" class="font-weight-bold">Apellidos:</label>
                                            <label th:text="*{propietarioApellidos}"></label>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="propietarioNif" class="font-weight-bold">Documento de Identidad:</label>
                                            <label th:text="*{propietarioNif}"></label>
                                        </div>
                                    </div>

                                    <!-- ----------------------- ROW ----------------------- -->
                                    <div class="form-row">
                                        <div class="form-group col-md-8">
                                            <label for="propietarioEmail" class="font-weight-bold">Correo electrónico:</label>
                                            <label th:text="*{propietarioEmail}"></label>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="propietarioTelefono" class="font-weight-bold">Teléfono:</label>
                                            <label th:text="*{propietarioTelefono}"></label>
                                        </div>
                                    </div>

                                    <label for="fechaPublicacion" class="font-weight-bold">Fecha publicación:</label>
                                    <label th:text="*{fechaPublicacion}"></label>

                                    <label for="idUsuario" class="font-weight-bold">Usuario:</label>
                                    <label th:text="*{idUsuario}"></label>

                                    <!-- ----------------------- ROW ----------------------- -->
                                    <hr>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span><b>Autor:</b> Nicolás Esteban Bórquez</span>
                        <br>
                        <br>
                        <span><b>Asignatura:</b> Proyecto Integrado - Instituto FOC</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../js/demo/datatables-demo.js"></script>

</body>

</html>